.footer{
    background-color: #282635;
    color:white;
    position: relative;
    text-align: center;
    padding: 2rem 0;
    font-weight: 200;
    font-size: 1.08rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    @include mobile{
        display: none;
    }
}