@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,800');
body,html{
    font-size:62.5%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    @include mobile{
        font-size: 60%;
    }
}

.body{
    font-size:2rem;
    letter-spacing: .1rem;
    overflow-x: hidden;
}

.bold{
    font-weight: 700;
}

.mr-2{
    margin-right: 2rem;
}

//BUTTONS
.btn{
    text-decoration: none;
    color:#3c3950;
    font-size: 3.5rem;
    padding: 1.4rem 3.7rem;
    //border: 2px solid rgba(255,255,255,.8);
    transition: .2s all;
    font-weight: 300;
    background-color: rgba(255,255,255,.8);
    &:link,&:visited{
        color:#3c3950;
    }
    &:hover{
        //border:2px solid rgba(60, 57, 80,1);
        background-color: rgba(60, 57, 80,1);
        color:rgba(255,255,255,1);
    }
}
